# Editors temporaries
*.swp
*~

# Distribution tarballs
*.tar.bz2
*.tar.gz

# Autotools temporaries
autom4te.cache/
build-aux/
m4/
autoscan.log
config.status
config.log
configure
configure.scan
Makefile
Makefile.in
aclocal.m4
stamp-h1
libtool

# Configuration header
config.hpp

# Targets
libhello.la

# Build temporaries
src/.deps/
src/.libs/
src/.dirstamp
src/*.o
src/*.lo
.libs/
